</div>
<div class="footer">
    <div class="container">
        <div class="st-footer-bottomblock">
            <div class="cf">
                <div style="padding-left: 160px;">
                    <div>База отдыха "Визит", Украина, Херсонская область, Генический район, с.Стрелковое,
                        ул.50 лет Победы,72.
                    </div>
                    <div class="footer-copyright" style="padding-left: 200px;">© 2012-2017 Все права защищены и услуги лицензированы.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/fredsel.js"></script>
