<header class="container st-header">
    <div class="st-header-toprow cf">
        <ul class="st-langlist list-unstyled fleft">
            <li>
                <strong style="font-size: 16px; letter-spacing: 1px;">8(10)380673486274 - Лариса Васильевна</strong>
            </li>
        </ul>
        <!--</ul>-->
    </div>
    <div class="st-header-bottomrow">
        <div class="cf">
            <a class="st-logo fleft" href="/">
                <img src="img/logo.png" alt="Alternate Text"/>
            </a>
        </div>
        <nav class="cf st-menu-wrap">
            <ul class="st-nav fright list-unstyled">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="/about.html#main">О номерах</a>
                </li>
                <li>
                    <a href="/service.html#main">Услуги</a>
                </li>
                <li>
                    <a href="/price.html#main">Прейскурант цен</a>
                </li>
                <li>
                    <a href="/gallery.html#main">Галерея</a>
                </li>
                <li>
                    <a href="/contact.html#main">Связаться с нами</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="st-content">