<div class="newest-movies">
    <div class="h2">
        <a href="#">Номера</a>
    </div>
    <div class="js-pag2 st-pag pag-type2 cf">
    </div>
    <ul class="st-movielist list-unstyled js-fred2 cf">
        <li>
            <a href="/price.html#main">
                <div class="st-movielist-image">
                    <img src="img/movie1.jpg" alt="Визит двухместный люкс"/>
                </div>
                <div class="st-movielist-title">
                    Люкс трехместный
                </div>
            </a>
        </li>
        <li>
            <a href="/price.html#main">
                <div class="st-movielist-image">
                    <img src="img/movie2.jpg" alt="Визит комфорт двухместный"/>
                </div>
                <div class="st-movielist-title">
                    Комфорт двухместный
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="st-movielist-image">
                    <img src="img/movie3.jpg" alt="Alternate Text"/>
                </div>
                <div class="st-movielist-title">
                    Стандарт трехместный
                </div>
            </a>
        </li>
        <li>
            <a href="/price.html#main">
                <div class="st-movielist-image">
                    <img src="img/movie4.jpg" alt="Alternate Text"/>
                </div>
                <div class="st-movielist-title">
                    Стандарт четырехместный
                </div>
            </a>
        </li>
        <li>
            <a href="/price.html#main">
                <div class="st-movielist-image">
                    <img src="img/movie5.jpg" alt="Alternate Text"/>
                </div>
                <div class="st-movielist-title">
                    Стандарт двухместный
                </div>
            </a>
        </li>
    </ul>
</div>
