<div class="container">
    <div class="error-numb">
        Ошибка 404
    </div>
    <div class="error-container">
        <h1>
            Страница отсутствует или адрес неверен
        </h1>
        <p class="error-txt">
            Страницу могли переименовать, удалить или адрес по которому она находится изменился. Вы можете вернуться <br />  кпредыдущей странице чтобы продолжить поиск или посмотльзоваться поиском  на нашей странице <br /> чтобы найти то что вы хотели.
        </p>
        <!--<form action="/" method="post">-->
            <!--<div class="cf search-wrap2">-->
                <!--<input type="text" class="fleft search-wide" /><button type="submit" class="search-submit fright">Найти <img alt="Alternate Text" src="img/magn.png"></button>-->
            <!--</div>-->
        <!--</form>-->
    </div>
</div>