<main id="main">
    <div class="container-padding bg-type2">
        <h2>О номерах:</h2>
        <p>База отдыха «Визит» находится в 300 метрах от моря на территории, огороженной со всех сторон. На территории
            имеются площадки для отдыха, детские площадки, площадка-гриль, беседки для отдыха, душевые кабины,
            искусственный водоем, автостоянка.
            Корпус базы отдыха представляет собой двухэтажное здание, в котором расположены разнообразнейшие номера:
        </p>

        <h3 class="blue">1-й этаж:</h3><br>

        <p>
            <ins>Комфорт двухместный:</ins>
            <br>
            Туалетная комната (круглосуточно хол./гор. вода), спутниковое ТВ, холодильник, мягкая удобная мебель, лоджия
            для отдыха.
        </p>
        <img src="images/komfort2.jpg" alt="номер комфорт двухместный на первом этаже" border="1px" >
        <br>

        <p>
            <ins>Трехместный номер:</ins>
            <br>
            Мягкая удобная мебель, комнаты укомплектованы шкафами для одежды, столами, стульями. Для самостоятельного
            приготовления пищи – кухня, укомплектованная холодильниками, посудой, шкафами для хранения продуктов,
            мойками. Умывальник, душ, туалет находятся в отдельных строениях.
        </p>
        <br>
        <img src="images/3m_1.jpg" border="1px" alt="трехместный номер на первом этаже" >
        <img src="images/3m_2.jpg" border="1px" alt="Трехместный номер на первом этаже" >
        <br>

        <p>
            <ins>Четырехместный номер:</ins>
            <br>
            Мягкая удобная мебель, столы, стулья, спутниковое ТВ. Для самостоятельного приготовления пищи – кухня,
            укомплектованная холодильниками, посудой, шкафами для хранения продуктов, мойками. Умывальник, душ, туалет
            находятся в отдельных строениях.
        </p>
        <img src="images/4m.jpg" border="1px" alt="четырехместный номер на первом этаже" >

        <h3 class="blue">2-й этаж:</h3>
        <br>

        <p>
            <ins>двухместный и трехместный номера с лоджией:</ins>
            <br>
            Мягкая удобная мебель, комнаты, столами, стульями. Для самостоятельного приготовления пищи – кухня на этаже,
            укомплектованная холодильниками, посудой, шкафами для хранения продуктов, мойками. Умывальник, душ, туалет
            находятся в отдельных строениях.
        </p>
        <br>
        <img src="images/3m2.jpg" alt="трехместный номер на втором этаже" border="1px">
        <br>

        <p>
            <ins>Номер Люкс:</ins>
            <br>
            Туалетная комната (круглосуточно хол./гор. вода), спутниковое ТВ, холодильник, двуспальная кровать, диван,
            барная стойка, лоджия для отдыха, кондиционер.
        </p>
        <br>
        <img src="images/lux_1.jpg" alt='Номер люкс на втором этаже базы отдыха "Визит"'
             border="1px">
        <img src="images/lux_2.jpg"  alt='Номер люкс базы отдыха "Визит"' border="1px">
        <br>

        <p>
            <ins>Люкс двухэтажный пятиместный</ins>
            <br>
            Первый этаж разделен на две функциональные зоны - кухню и зону для отдыха. Кухня оборудована кухонной
            мебелью и посудой, холодильником, газовой плитой, мойкой для посуды. Зона для отдыха включает в себя диван -
            кровать, шкаф - купе, телевизор, кондиционер, ванную комнату. На втором этаже расположена мебель для
            отдыха:односпальные кровати и тумбочки.
            <br/>
        </p>
        <p>
            <ins>Люкс двухэтажный четырехместный</ins>
            <br>
            Первый этаж разделен на две функциональные зоны - кухню и зону для отдыха. Кухня оборудована кухонной
            мебелью и посудой, холодильником, газовой плитой, мойкой для посуды. Зона для отдыха включает в себя диван -
            кровать, шкаф - купе, телевизор, кондиционер, ванную комнату. На втором этаже расположена мебель для
            отдыха:односпальные кровати и тумбочки.
            <br/>
        </p>
    </div>
</main>
