<main id="main">
    <div class="container-padding bg-type2">
        <h2>О номерах:</h2>
        <p>База отдыха «Визит» находится в 300 метрах от моря на территории, огороженной со всех сторон. На территории
            имеются площадки для отдыха, детские площадки, площадка-гриль, беседки для отдыха, душевые кабины,
            искусственный водоем, автостоянка.
            Корпус базы отдыха представляет собой двухэтажное здание, в котором расположены разнообразнейшие номера:
        </p>

        <h3 class="blue">1-й этаж:</h3><br>

        <p>
            <ins>Комфорт двухместный:</ins>
            <br>
            Номера расположены на первом этаже корпуса. В каждый номер отдельный вход через лоджию.
            В номере имеется двуспальная ( либо две односпальные) кровать, телевизор, холодильник, шкаф для одежды,
            ванная комната. Лоджия оборудована мебелью для отдыха.
        </p>
        <img src="images/komfort2.jpg" alt="комфорт двухместный на первом этаже" border="1px" >
        <br>

        <p>
            <ins>Стандарт четырехместный:</ins>
            <br>
            Номера расположены на первом этаже корпуса. Номер оборудован односпальными кроватями, тумбочками, столом
            обеденным.
        </p>
        <img src="images/4m.jpg" border="1px" alt="четырехместный номер на первом этаже" >

        <h3 class="blue">2-й этаж:</h3>
        <br>

        <p>
            <ins>Стандарт двухместный:</ins>
            <br>
            Номера расположены на втором этаже корпуса. В номере имеются односпальные кровати, тумбочки, стол обеденный,
            шкаф для одежды. Так же в номере имеется лоджия с мебелью для отдыха.
        </p>
        <br>
        <img src="images/3m_1.jpg" border="1px" alt="трехместный номер на первом этаже" >
        <img src="images/3m_2.jpg" border="1px" alt="Трехместный номер на первом этаже" >
        <br>

        <p>
            <ins>Стандарт трехместный:</ins>
            <br>
            Номера расположены на втором этаже корпуса. В номере имеются односпальные кровати, тумбочки, стол обеденный,
            шкаф для одежды. Так же в номере имеется лоджия с мебелью для отдыха.
        </p>
        <br>
        <img src="images/3m_1.jpg" border="1px" alt="трехместный номер на первом этаже" >
        <img src="images/3m_2.jpg" border="1px" alt="Трехместный номер на первом этаже" >
        <br>

        <p>
            <ins>Номер Люкс:</ins>
            <br>
            Туалетная комната (круглосуточно хол./гор. вода), спутниковое ТВ, холодильник, двуспальная кровать, диван,
            барная стойка, лоджия для отдыха, кондиционер.
        </p>
        <br>
        <img src="images/lux_1.jpg" alt='Номер люкс на втором этаже базы отдыха "Визит"'
             border="1px">
        <img src="images/lux_2.jpg"  alt='Номер люкс базы отдыха "Визит"' border="1px">
        <br>

        <p>
            <ins>Люкс двухэтажный пятиместный с кухней:</ins>
            <br>
            Номер расположен на втором этаже корпуса. Первый этаж номера разделен на две функциональные зоны - кухню и
            зону для отдыха. Кухня оборудована кухонной мебелью и посудой, электрочайником, холодильником, мойкой для
            посуды, микроволновой печью (электроплита отсутствует, приготовление пищи осуществляется на общей кухне,
            расположенной на этаже). Зона для отдыха включает в себя диван - кровать, шкаф - купе, телевизор,
            кондиционер, ванную комнату. На втором этаже расположена мебель для отдыха: односпальные кровати и тумбочки.
            <br/>
        </p>
        <p>
            <ins>Люкс трехместный:</ins>
            <br>
            Номер расположен на втором этаже корпуса. Комната разделена на две функциональные зоны - зону для отдыха и
            кухню. Зона для отдыха включает в себя двуспальную кровать, диван - кровать, ванную комнату, телевизор,
            кондиционер. Кухня оборудована холодильником, кухонной мебелью и посудой, электрочайником,
            микроволновой печью (электроплита отсутствует и приготовление пищи осуществляется на общей кухне,
            расположенной на этаже). В номере имеется лождия с мебелью для отдыха.
            <br/>
        </p>
    </div>
</main>
