<main id="main">
    <div class="container-padding bg-type2">
        <h2>Контакты:</h2><br>
        <p>
            База отдыха "Визит" находится в Украине, Херсонской области, Геническом районе, селе Стрелковое, по адресу:
            улица 50 лет победы, дом 72. Так же с нами можно связаться по телефонам:
            <br/>
            <b>8(10)380673486274 - Лариса Васильевна</b>
        </p>
        <img src="images/map.gif">

        <p>
            <br>
            Если Вы добираетесь до нас <b>на поезде</b>, то Вам надо доехать до станции Новоалексеевка, где мы Вас
            встретим и довезём до базы отдыха "Визит".
            <br>
            <br>
            Если Вы едете <b>на автомобиле</b>, то мы Вам рекомендуем выехать на трассу Москва-Симферополь и ехать до
            железнодорожного переезда, за которым будет указатель на город Геническ, затем доехать до Геническа(точнее
            до указателя на Арабатскую стрелку) и выехать на "стрелку". Далее ехать до конца асфальтобетонной дороги.
            Как только асфальтированная дорога закончится и будет знак "Стрелковое", Вам надо повернуть налево, и на
            втором перекрёстке(просёлочной дороги) повернуть направо(перед деревянными постройками с синими крышами) и
            ехать вперёд до нашей базы отдыха. В случае возникновения вопросов, Вы можете позвонить нам и мы будем Вашим
            "навигатором"!
            <br>
        </p>
    </div>
</main>