<main id="main">
    <div class="container-padding bg-type2 gallery-image">
        <h2>Галлерея:</h2>

        <a href="images/53.jpg" title="Игровая площадка"><img
                src="images-small/53s.jpg" alt="Игровая площадка"/></a>
        <a href="images/54.jpg" title="Фонтан"><img src="images-small/54s.jpg"
                                                    alt="Фонтан"/></a>
        <a href="images/55.jpg" title="Водоём"><img src="images-small/55s.jpg"
                                                    alt="Водоём"/></a>
        <a href="images/56.jpg" title="Качеля для детей"><img
                src="images-small/56s.jpg" alt="Качеля для детей"/></a>
        <a href="images/57.jpg" title="Горка для детей"><img
                src="images-small/57s.jpg" alt="Горка для детей"/></a>
        <a href="images/58.jpg" title="Детская площадка"><img
                src="images-small/58s.jpg" alt="Детская площадка"/></a>
        <a href="images/59.jpg" title="Детская горка"><img
                src="images-small/59s.jpg" alt="Детская горка"/></a>
        <a href="images/60.jpg" title="Теннисный стол и камин"><img
                src="images-small/60s.jpg" alt="Теннисный стол и камин"/></a>
        <a href="images/61.jpg"
           title="Избушка на курих ношках базы отдыха ВИЗИТ"><img src="images-small/61s.jpg"
                                                                  alt="Избушка на курих ношках базы отдыха ВИЗИТ"/></a>
        <a href="images/62.jpg" title="Зеленая зона"><img
                src="images-small/62s.jpg" alt="Зеленая зона"/></a>
        <a href="images/63.jpg" title="Столовая"><img src="images-small/63s.jpg"
                                                      alt="Столовая"/></a>
        <a href="images/64.jpg" title="Зелёная зона и беседка"><img
                src="images-small/64s.jpg" alt="Зелёная зона и беседка"/></a>
        <a href="images/65.jpg" title="Зелень на базе"><img
                src="images-small/65s.jpg" alt="Зелень на базе"/></a>
        <a href="images/66.jpg" title="Мостик"><img src="images-small/66s.jpg"
                                                    alt="Мостик"/></a>
        <a href="images/67.jpg" title="Беседка базы отдыха Визит"><img
                src="images-small/67s.jpg" alt='Беседка базы отдыха Визит'/></a>
        <a href="images/1.jpg" title="Водоем"><img src="images-small/vodoem.jpg"
                                                   alt="Водоем"/></a>
        <a href="images/more-azov.jpg" title="Пляж азовского моря"><img
                src="images-small/more-azov-small.jpg" alt="Пляж азовского моря"/></a>
        <a href="images/4.jpg" title="Двухместный номер на первом этаже"><img
                src="images-small/4s.jpg" alt="Двухместный номер на первом этаже"/></a>
        <a href="images/6.jpg" title="Номер люкс"><img
                src="images-small/lux-1.jpg" alt="Номер люкс"/></a>
        <a href="images/8.jpg" title="Двухместный номер на первом этаже"><img
                src="images-small/komfort-1.jpg" alt="Двухместный номер на первом этаже"/></a>
        <a href="images/10.jpg" title="Трёхместный номер на первом этаже"><img
                src="images-small/10s.jpg" alt="Трёхместный номер на первом этаже"/></a>

        <a href="images/12.jpg" title="Комфорт двухместный на первом этаже"><img
                src="images-small/komfort.jpg" alt="Комфорт двухместный на первом этаже"/></a>

        <a href="images/80.jpg"><img src="images-small/80s.jpg"/></a>
        <a href="images/81.jpg"><img src="images-small/81s.jpg"/></a>
        <a href="images/82.jpg"><img src="images-small/82s.jpg"/></a>
        <a href="images/83.jpg"><img src="images-small/83s.jpg"/></a>
        <a href="images/84.jpg"><img src="images-small/84s.jpg"/></a>
        <a href="images/85.jpg"><img src="images-small/85s.jpg"/></a>
        <a href="images/86.jpg"><img src="images-small/86s.jpg"/></a>
        <a href="images/87.jpg"><img src="images-small/87s.jpg"/></a>
        <a href="images/88.jpg"><img src="images-small/88s.jpg"/></a>
        <a href="images/89.jpg"><img src="images-small/89s.jpg"/></a>
        <a href="images/90.jpg"><img src="images-small/90s.jpg"/></a>
        <a href="images/91.jpg"><img src="images-small/91s.jpg"/></a>
        <a href="images/92.jpg"><img src="images-small/92s.jpg"/></a>
        <a href="images/93.jpg"><img src="images-small/93s.jpg"/></a>
        <a href="images/94.jpg"><img src="images-small/94s.jpg"/></a>
        <a href="images/95.jpg"><img src="images-small/95s.jpg"/></a>
        <a href="images/96.jpg"><img src="images-small/96s.jpg"/></a>
        <a href="images/97.jpg"><img src="images-small/97s.jpg"/></a>
        <a href="images/98.jpg"><img src="images-small/98s.jpg"/></a>
        <a href="images/99.jpg"><img src="images-small/99s.jpg"/></a>
        <a href="images/100.jpg"><img src="images-small/100s.jpg"/></a>
        <a href="images/101.jpg"><img src="images-small/101s.jpg"/></a>
        <a href="images/102.jpg"><img src="images-small/102s.jpg"/></a>
        <a href="images/103.jpg"><img src="images-small/103s.jpg"/></a>
        <a href="images/104.jpg"><img src="images-small/104s.jpg"/></a>
        <a href="images/105.jpg"><img src="images-small/105s.jpg"/></a>


        <a href="images/14.jpg" title="Комфорт двухместный"><img
                src="images-small/14s.jpg" alt="Комфорт двухместный"/></a>
        <a href="images/16.jpg" title="Номер люкс"><img
                src="images-small/16s.jpg" alt="Номер люкс"/></a>

        <a href="images/2.jpg" title="Трехместный номер на первом этаже"><img
                src="images-small/2s.jpg" alt="Трехместный номер на первом этаже"/></a>
        <a href="images/19.jpg" title="Беседки"><img src="images-small/19s.jpg"
                                                     alt="Беседки"/></a>
        <a href="images/20.jpg" title="Трёхместный номер на первом этаже"><img
                src="images-small/20s.jpg" alt="Трёхместный номер на первом этаже"/></a>
        <a href="images/22.jpg"
           title="Двухместный номер с лоджией на втором этаже"><img src="images-small/vizit-nomer.jpg"
                                                                    alt="Двухместный номер с лоджией на втором этаже"/></a>
        <a href="images/23.jpg" title="Мангалы"><img src="images-small/23s.jpg"
                                                     alt="Мангалы"/></a>
        <a href="images/24.jpg" title="Трехместный номер на втором этаже"><img
                src="images-small/trehmestny-2etazh.jpg" alt="Трехместный номер на втором этаже"/></a>
        <a href="images/25.jpg" title="Игровая площадка, мангал и беседки"><img
                src="images-small/25s.jpg" alt="Игровая площадка, мангал и беседки"/></a>
        <a href="images/26.jpg" title="Четырехместный номер на первом этаже"><img
                src="images-small/26s.jpg" alt="Четырехместный номер на первом этаже"/></a>
        <a href="images/27.jpg" title="Коридор второго этажа"><img
                src="images-small/27s.jpg" alt="Коридор второго этажа"/></a>
        <a href="images/28.jpg"
           title="Ванная комната номеров класса Комфорт"><img src="images-small/28s.jpg"
                                                              alt="Ванная комната номеров класса Комфорт"/></a>
        <a href="images/29.jpg" title="Кухня на втором этаже"><img
                src="images-small/kyhny-2.jpg" alt="Кухня на втором этаже"/></a>
        <a href="images/30.jpg" title="Номер люкс"><img
                src="images-small/30s.jpg" alt="Номер люкс"/></a>
        <a href="images/31.jpg" title="Кухная на втором этаже"><img
                src="images-small/31s.jpg" alt="Кухная на втором этаже"/></a>
        <a href="images/32.jpg" title="Номер люкс"><img
                src="images-small/lux.jpg" alt="Номер люкс"/></a>
        <a href="images/33.jpg" title="База отдыха Визит вид"><img
                src="images-small/Vizit-sverhy.jpg" alt="База отдыха Визит вид"/></a>
        <a href="images/34.jpg" title="Трёхместный номер на втором этаже"><img
                src="images-small/trehmestny-2.jpg" alt="Трёхместный номер на втором этаже"/></a>
        <a href="images/36.jpg" title="Мини-кухня номера Люкс"><img
                src="images-small/kyhnya-v-luxe.jpg" alt="Мини-кухня номера Люкс"/></a>
        <a href="images/37.jpg" title="Кухня на первом этаже"><img
                src="images-small/kyhnya.jpg" alt="Кухня на первом этаже"/></a>
        <a href="images/38.jpg" title="Двухместный номер на первом этаже"><img
                src="images-small/38s.jpg" alt="Двухместный номер на первом этаже"/></a>
        <a href="images/39.jpg" title="Зелёная зона"><img
                src="images-small/39s.jpg" alt="Зелёная зона"/></a>
        <a href="images/40.jpg" title="Трёхместный номер на первом этаже"><img
                src="images-small/40s.jpg" alt="Трёхместный номер на первом этаже"/></a>
        <a href="images/41.jpg" title="Мост через пруд"><img
                src="images-small/most-i-besedka.jpg" alt="Мост через пруд"/></a>
        <a href="images/42.jpg" title="Трёхместный номер на первом этаже"><img
                src="images-small/trehmestny-nomer.jpg" alt="Трёхместный номер на первом этаже"/></a>
        <a href="images/43.jpg" title="Мост в зелёной зоне"><img
                src="images-small/most-v-zelenoy-zone.jpg" alt="Мост в зелёной зоне"/></a>
        <a href="images/44.jpg" title="Четырёхместный номер на первом этаже"><img
                src="images-small/tsetyrehmestny-nomer.jpg" alt="Четырёхместный номер на первом этаже"/></a>
        <a href="images/46.jpg" title="Двухместный номер на первом этаже"><img
                src="images-small/dvyhmestny-nomer.jpg" alt="Двухместный номер на первом этаже"/></a>
        <a href="images/47.jpg" title="Игровая зона для детей"><img
                src="images-small/detskaya-ploshadka.jpg" alt="Игровая зона для детей"/></a>
        <a href="images/48.jpg" title="Номер класса Люкс"><img
                src="images-small/nomer-lux.jpg" alt="Номер класса Люкс"/></a>
        <a href="images/51.jpg" title="Лестница на второй этаж"><img
                src="images-small/lestnitsa.jpg" alt="Лестница на второй этаж"/></a>
    </div>
</main>