<main id="main">
    <div class="container-padding bg-type2">
        <div class="" style="float: right; margin: 0 0 10px 10px">
            <iframe width="420" height="345"
                    src="http://www.youtube.com/embed/BRV8omZhdtM">
            </iframe>
        </div>
        <p>База отдыха «Визит» - прекрасное место, где Вы сможете замечательно провести свое время, сменить
            обстановку и зарядиться здоровьем и положительными эмоциями на долгое время.
            База отдыха «Визит» расположена в экологически чистом месте <strong>Азовского моря</strong>
            на Арабатской стрелке. Особенности ландшафта сделали Азовское море уникальным местом для отдыха с
            детьми: <strong>море мелкое, теплое, небольшой глубины, богатое своим биологическим
                содержанием. Вода прогревается очень быстро, и купаться можно уже в конце мая</strong>. Отдых на
            Азовском море принесет не только удовольствие, но и здоровье. Уникальные географические и климатические
            условия, мягкие песчаные пляжи и удивительно чистый лечебный воздух, насыщенный озоном, йодом, бромом,
            различными солями и микроэлементами, позволяют не только хорошо отдохнуть, но и <strong>поправить
                здоровье Вам и Вашим детям</strong>.</p>
        <p>База отдыха «Визит» находится на Арабатской стрелке в 300 метрах от моря. Удобное расположение базы отдыха
            на <strong>второй береговой линии</strong>> позволит Вам затратить не более 5-ти минут на путь до пляжа.</p>

        <p>База отдыха «Визит» - это закрытая территория, обустроенная для комфортного отдыха детей и взрослых, на
            которой специально для вас имеются беседки, стационарный мангал, терраса и многое другое, необходимое
            для разнообразного и активного отдыха. Если вы решили приехать с детьми, знайте, что благоустроенные
            детские площадки, разнообразнейшие развлекательные аттракционы не дадут вашим детишкам заскучать!</p>

        <p>Чистые уютные номера на любой вкус помогут нам подобрать для каждого отдыхающего свой вариант:
            это двухместные, трехместные, четырехместные номера, номера «Комфорт» и «Люкс». Так же для удобства
            отдыхающих имеются обустроенные комнаты для самостоятельного приготовления питания, включающие в
            себя столовую мебель, посуду (кастрюли, чайники, вилки, ложки) холодильники и т.д.</p>

        <p>Качественное и разнообразное питание, которое можно заказать в нашей столовой, позволит сэкономить Ваше
            время и потратить его на отдых, о котором вы мечтали целый год! Приезжайте на базу отдыха «Визит», а
            мы приложим все силы, чтобы Ваш отдых прошел в комфортной и доброжелательной обстановке.</p>

        <p>Тысячи людей приезжают на Арабатскую стрелку, чтобы отдохнуть от повседневной суеты и забот, набраться
            сил, здоровья, приятных воспоминаний. Так же Вы можете совместить Ваш отдых с приятными, интересными и
            оздоровительными, организованными нашей администрацией, поездками на озеро Сиваш, горячий источник,
            солёное озеро и в другие места, которые хвалятся всеми отдыхающими и являются визитной карточкой
            Арабатской Стрелики. Подробности об описании и предоставлении дополнительных услуг вы можете найти в
            разделе <a class="url" href="yslygi.html">"Услуги"</a>.</p>

        <p>Отдых на Азовском море намного дешевле, чем на других курортах, но поверьте, здесь ничем не хуже! Если Вы
            едете на поезде, то <strong>мы Вас встретим и доставим на базу отдыха</strong>! Более
            подробную информацию о связи с нами вы можете найти в разделе <a class="url"
                                                                             href="kontakts.html">"Контакты"</a>.
            Стоимость номеров <strong>от 70грн/день</strong>! Более подробную информацию о стоимости
            проживания, вы можете найти в разделе <a class="url" href="preuskyrant.html">"Прейскурант цен"</a>. Мы
            предлагаем Вам 3 вида питания! Это прекрасное место для отдыха со всей семьёй! Территория базы отдыха
            утопает в зелени, Вы сможете укрыться от солнца в замечательных беседках, а успокаивающий звук воды
            фонтанчиков отвлечет Вас от посторонней суеты. Вечерами и ночами, в отличии от многих других курортов,
            нет никаких звуков, доносящихся с близлежащих дискотек. Для более комфортного отдыха для Вас имеются
            терраса для отдыха, благоустроенные детские площадки, мангалы, барбекю и многое другое. А мы приложим
            все свои силы, знания и умения, что бы вы остались довольны.
            Приезжайте к нам на отдых, Азовское море ждет Вас!</p>
    </div>
</main>